.about-me{
    margin: 50px 0;
    background: $C-white;
    .container{
        justify-content: center;
        align-items: center;
        .image{
            flex: 1;
            width: 430px;
            height: 430px;
            background: url(../../images/FB-Me.png);
            background-size: cover;
        }
        .text{
            flex: 2;
            padding: 50px;
            td{
                padding: 7px 40px 7px 0;
                i{
                    padding-right: 7px;
                    padding-left: 0;
                }
            }
        }
    }
}