.experience{
    .container{
        flex-wrap: wrap;
        justify-content: space-between;
        .work{
            display: inline-block;
            flex:  0;
            margin:10px 10px;
            padding-top: 5vh;
            .job{
                display: flex;
                background: $C-main;
                width: 600px;
                height: 200px;
                text-align: left;
                margin-bottom: 30px;
                    .left{
                        flex-grow: 0;
                        background: $C-main;
                        background: linear-gradient(90deg, rgba(104, 137, 140, 0.78) 0%, rgba(104, 137, 140, 0.15) 100%);
                        border-radius: 2px 0px 0px 2px;
                        object-fit: cover;
                        img{
                            width: 200px;
                            height: 200px;
                            object-fit: fill;
                        }
                    }
                    .right{
                        flex-grow: 1;
                        display: flex;
                        flex-direction: column;
                        color: $C-white;
                        .up{
                            display: grid;
                            padding: 10px;
                            background: $C-main;
                            flex-grow: 1;
                            align-content: center;
                            p{
                                font-size: 18px;
                                padding: 0 0 10px 10px;
                                margin: 0;
                            }
                            p:first-of-type{
                                font-size: 12px ;
                                padding: 10px 0 5px 10px;
                                color: $C-special;
                            }
                            
                        }
                        .down{
                            padding: 5px;
                            padding-left: 20px;
                            flex-grow: 0;
                            background: linear-gradient(270deg, rgba(104, 137, 140, 0.26) 0%, #243D40 100%);
                            border-radius: 0px 0px 2px 0px;
                            color: $C-special;
                        }
                    }
                
                }   
        }
    }    
}
