 .main{
     height: auto;
        .container{
        flex-direction: column;
        align-content: space-between;
            .navbar{
            width: 100%;
            display: flex;
            flex-direction: row;
            margin: 20px 0 20px 0;
            justify-content: flex-end;
            align-items: center;
            .navigation{
                all: unset;
                margin: 0 7px;
                letter-spacing: 0.02em;
                cursor: pointer;
                padding: 5px;
                border-bottom: 2px solid transparent;
                text-transform: uppercase;
                font-size: 14px;

            }
            .navigation:hover{
                cursor: pointer;
                color: $C-white;
                border-bottom: 2px solid $C-special;
            }
            .navigation:focus{
                cursor: pointer;
                color: $C-white;
                border-bottom: 2px solid $C-special;
            }
            
        }
        .welcom{
            display: inline-block;
            width: 50%;
            margin: 50px 20px;
            padding: 50px;
            h4{
                color: $C-special;
            }
            h1{
                display: inline;
                color: $C-white;
                font-size: 50px;
            }
            p{
                color: $C-font-light;
            }
        }
    } 
}   
