body {
  margin: 0;
  font-family: Poppins;
  font-style: normal;
  line-height: 28px;
  font-weight: normal;
  *:hover{
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
  }
}
.container {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 70px;
  flex-wrap: wrap;
}
.titles{
    width: 100%;
    display: inline-block;

    h5{
      font-weight: 500;
      font-size: 16px;
      color: $C-special;
      margin:10px 0;
    }
    h3{
      font-weight: 600;
      font-size: 28px;
      color: $C-main;
      margin:10px 0;
    }
}
.dark{
      width: 100%;
      background: $C-main;
      color: $C-light;
      .titles{
        h3{
          color: $C-white
        }
      }
}
.light{
    width: 100%;
    background: $C-light;
    color: $C-main;
}
  