.btn{
    all: unset;
    margin: 5px;
    letter-spacing: 0.02em;
    color: $C-special;
    border: $C-special solid 2px;
    padding: 5px 15px;
    border-radius: 33px;
    cursor: pointer;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: middle;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}
.btn:hover{
    color: $C-white;
    border: $C-white solid 2px;
}